# Git
.git
.gitignore
.github

# Docker
.docker
docker-compose.yml
Dockerfile
Dockerfile.ffmpeg
.dockerignore

# Node.js
node_modules
npm-debug.log
yarn-error.log

# Laravel
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Project specific
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/hot
/public/storage

# Keep .gitkeep files
!.gitkeep 